@model Post

<form class="mt-1" asp-action="Edit" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for=@Model.id value=@Model.id name="id">

    <div class="form-group">
        <label for="title">Title</label>
        <input class="form-control" asp-for=@Model.title name="title" input="text" value=@Model.title />
        <span asp-validation-for=@Model.title class="text-danger"></span>      
    </div>
    <div class="form-group">
        <label for="title">Content</label>
        <input class="form-control" asp-for=@Model.content name="content" input="text" value=@Model.content />
        <span asp-validation-for=@Model.content class="text-danger"></span>      
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <select class="form-control" asp-for=@Model.author name="author">
            <option>Midas</option>
            <option>Bob</option>
            <option>Dirk</option>
        </select>
        <span asp-validation-for=@Model.author class="text-danger"></span> 
    </div>
    <input type="hidden" asp-for=@Model.date value=@DateTime.Now name="date">
    <button class="btn" type="submit">Edit</button>
</form>